body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #111;
  color: #eee;
}

header {
  background: #222;
  padding: 20px;
  text-align: center;
}

nav a {
  color: #4ec3ff;
  margin: 0 15px;
  text-decoration: none;
  font-weight: bold;
}

nav a:hover {
  text-decoration: underline;
}

.hero {
  padding: 60px;
  text-align: center;
}

footer {
  background: #222;
  padding: 10px;
  text-align: center;
  margin-top: 40px;
}
.site-title {
  display: block;
  margin: 20px auto;
  width: 60%;        /* change this number to scale the image */
  max-width: 650px;  /* optional limit */
}
/* CATEGORY COLOR THEMES */

/* Disasters pages */
body.disasters {
  background: #330000; /* dark red */
}

body.disasters header {
  background: #660000;
}

body.disasters footer {
  background: #440000;
}

/* Entities pages */
body.entities {
  background: #003300; /* dark green */
}

body.entities header {
  background: #006600;
}

body.entities footer {
  background: #004400;
}

/* Items pages */
body.items {
  background: #000033; /* dark blue */
}

body.items header {
  background: #000066;
}

body.items footer {
  background: #000044;
}
