body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #111;
  color: #eee;
}

header {
  background: #222;
  padding: 20px;
  text-align: center;
}

nav a {
  color: #4ec3ff;
  margin: 0 15px;
  text-decoration: none;
  font-weight: bold;
}

nav a:hover {
  text-decoration: underline;
}

.hero {
  padding: 60px;
  text-align: center;
}

footer {
  background: #222;
  padding: 10px;
  text-align: center;
  margin-top: 40px;
}
.site-title {
  display: block;
  margin: 20px auto;
  width: 60%;        /* change this number to scale the image */
  max-width: 650px;  /* optional limit */
}
/* CATEGORY COLOR THEMES */

/* Disasters pages */
body.disasters {
  background: #110404; /* dark red */
}

body.disasters header {
  background: #220808;
}

body.disasters footer {
  background: #220808;
}

/* block page style */
body.blocks {
  background: #041104; /* dark green */
}

body.blocks header {
  background: #082208;
}

body.blocks footer {
  background: #082208;
}

/* Items pages */
body.items {
  background: #040411; /* dark blue */
}

body.items header {
  background: #080822;
}

body.items footer {
  background: #080822;
}

/* block pages */

.block-header {
  display: flex;
  flex-direction: column;   /* stack vertically */
  align-items: flex-end;     /* align to the right */
  margin-right: 20px;
}

.block-icon {
  width: 128px;
  image-rendering: pixelated;
  margin-top: 10px;          /* spacing under the title */
}

.recipe-icon {
  width: 256px;
  image-rendering: pixelated;
  margin-top: 10px;          /* spacing under the title */
}
